*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

.login{
    width:400px;
	padding:16px;
	border-radius:10px;
    margin-top: 10% auto;
	background-color:#f7b1b133;
}

form{
    width:400px;
	padding:16px;
	border-radius:10px;
	margin:10% auto;
	background-color:#f7b1b133;
}




